:root{
  --primary-color:#400381;
  --secondary-color: #fed800;
  --main-font: "Playpen Sans Arabic"
}

body{
  background-color:var(--primary-color)
}


h1{
  width: fit-content;
  margin:auto;
  padding: 10px 30px;
  background-image: linear-gradient(45deg,var(--primary-color), purple);
  border-radius: 30px;
  color:var(--secondary-color);
  font-family: var(--main-font);
}

h2{
  font-family: var(--main-font);
  color:white;
  width: fit-content;
  margin: 5px auto;
}



h4{
  background-color: var(--secondary-color);
  text-align:center;
}


table{
  direction: rtl;
  background-color: white;
  width: 80%;
  font-family: var(--main-font);
  background-color: transparent;
  margin:20px auto;
  padding:20px;
  box-shadow: 5px 10px 0px black;
  border-radius: 50px;
  border:2px solid black;
}

th{
  text-align: right;
  width: fit-content;
  color:white;
  border-bottom: 2px solid white;
}

td{
  color:var(--secondary-color);
  padding:5px;
}


.toolbar{
  direction: rtl;
  display: flex;
  justify-content: center;
}

.game{
  margin-top: 50px;
}

.add-player{
  font-family:  var(--main-font);
  font-weight: bold;
  font-size: 12px;
  border-radius:50px;
  border:2px solid black;
  padding: 5px 10px;
  margin-left:10px;
  color:var(--primary-color);
  background-color: var(--secondary-color);
  box-shadow: 5px 10px 0px black;
  cursor:pointer;
}

.add-player:hover{
  background-color: white;
}


.player-input{
  padding:5px 10px;
  font-family: var(--main-font);
  font-size:12px;
  border-radius:50px;
  border:2px solid black;
  box-shadow: 5px 10px 0px black;

}

.players{
  display: flex;
  direction: rtl;
  flex-wrap: wrap;
  justify-content: center;
  margin-top:50px;
  font-family: var(--main-font);
  padding:100px 0;
  border: 1px solid white;     
  border-radius:10px
}

.player{
  background-color: white;
  margin:10px;
  width: 42%;
  border-radius: 10px;
  box-shadow: 5px 10px 0px black;
} 

.add-word{
  display: flex;
  direction: ltr;
  justify-content: center;
  align-items: center;
}

.word{
  display: block;
  width: 50%;
  height: 20px;
  padding:5px 10px;
  margin: 0;
  direction: rtl;
  font-family: var(--main-font);
  border-radius:50px;
  border:1px solid black;
}

.add{
  background-color: var(--secondary-color);
  border-radius: 50%;
  font-size: 24px;
  margin:10px;
  box-shadow: 5px 5px 0px gray;
  border:none;
  cursor:pointer;
}

.add:hover{
  /* box-shadow: 0 0 10px gray; */
  background-color: var(--primary-color);
  color:white;
}


.start{
  display: block;
  background-color: rgb(4, 181, 4);
  color:white;
  font-family: var(--main-font);
  font-weight: bold;
  font-size: 18px;
  padding: 5px 50px;
  border-radius:50px;
  border:none;
  cursor:pointer;
  margin: 20px auto;
  box-shadow: 5px 10px 0px black;
  border:2px solid black;
}

.start:hover{
  background-color: white;
  color:rgb(4, 181, 4);
}



