:root{
  --primary-color:#400381;
  --secondary-color: #fed800;
  --main-font: "Playpen Sans Arabic"
}

body {
  margin: 20px;
  background-color: var(--primary-color);
  direction: rtl;
  font-family: var(--main-font);
}

h1{
  font-family: var(--main-font);
  color:var(--secondary-color);
  width: fit-content;
  margin: 20px auto;
  padding:10px;
  border-radius:50px;
  background-image: linear-gradient(45deg,var(--primary-color),rgb(101, 1, 101));
}

h2{
  font-family: var(--main-font);
  color:var(--secondary-color);
}
.player-card {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px 0;
  width: 300px;
  color:var(--primary-color);
  background-color: white;
  font-family: var(--main-font);
  border-radius:20px;
  border:2px solid black;
  box-shadow: 5px 10px 0 black;
}
.player-card h3 {
  margin: 0 0 10px 0;
}
.words-list {
  margin: 10px 0;
  padding-left: 20px;
}

.word-input{
  font-family: var(--main-font);
  font-weight: 800;
  border-radius: 20px;
  border:1px solid black;
  padding: 0 10px;
  box-shadow: 5px 10px 0 black;
}

.add-word{
  font-family: var(--main-font);
  font-weight: bold;
  color:var(--primary-color);
  background-color: var(--secondary-color);
  border-radius: 20px;
  border:1px solid black;
  box-shadow:5px 10px 0px black;
  cursor:pointer;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
  color:white;
  background-color: white;
  color:black;
  border-radius: 20px;
  padding:10px;
  box-shadow: 5px 10px 0 black;
}
th, td {
  /* border: 1px solid #ccc; */
  padding: 8px;
  text-align: right;
}
th {
  background-color: transparent;
  text-align: right;
  color:var(--primary-color)
}

#addPlayer{
  width: fit-content;
  height: 80px;
  margin: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

#addPlayerBtn{
  font-family: var(--main-font);
  font-weight: bold;
  color:var(--primary-color);
  background-color: var(--secondary-color);
  border-radius: 20px;
  border:none;
  box-shadow:5px 10px 0px black;
  cursor:pointer;
}

#addPlayerBtn:hover{
  background-color: white;
  box-shadow: 5px 10px 0 var(--secondary-color);
}

#playerName{
  font-family: var(--main-font);
  font-weight: 800;
  border-radius: 20px;
  border:none;
  padding: 0 10px;
  margin-left:10px;
  box-shadow: 5px 10px 0 black;
}